.columns-shown-1 {
  width: 100%;
}
.columns-shown-2 {
  width: 50%;
}
.columns-shown-3 {
  width: 33%;
}
.columns-shown-4 {
  width: 25%;
}

#region-list,
#city-list,
#journal-list,
#edition-list {
  margin-bottom: 0;
}

#region-list .card {
  display: inline-block;


  &.small {
    height: calc(180px + 2em);
  }

  .card-title {
    text-shadow: 1px 1px rgba(0,0,0,.5);
  }

  &>.card-content {
    height: 2em;
  }
}

.region-link {
  display: inline-block;
}

#breadcrumbs,
#breadcrumbs .btn {
  margin-bottom: 0;
}

#breadcrumbs .btn {
  display: inline-block;
}

#entry-list {
  margin-bottom: 0;
}

#new-journal-button {
  float: right;
}

// to have input fields as collection itens,
// they need to play the same padding/margin/width/heigth
// as the other items in the collection
input[type=text].collection-item {
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 1s;
}

input[type=text].collection-item:not(.hidden-field) {
  animation: fadeIn 2s ease-out 0s 1 normal forwards;
}

.hidden-field {
  display: none;
}

.delete-button {
  float: right;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.3rem;
  height: 1.3rem;

  &:focus {
    background-color: transparent;
  }

  &> i {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 100%;
  }
}