.columns-shown-1 {
  width: 100%;
}
.columns-shown-2 {
  width: 50%;
}
.columns-shown-3 {
  width: 33%;
}
.columns-shown-4 {
  width: 25%;
}

.hide {
  display: none;
}

#region-list,
#city-list,
#journal-list,
#edition-list {
  margin-bottom: 0;
}

#region-list .card {
  display: inline-block;


  &.small {
    height: calc(180px + 2em);
  }

  .card-title {
    text-shadow: 1px 1px rgba(0,0,0,.5);
  }

  &>.card-content {
    height: 2em;
  }
}

.region-link {
  display: inline-block;
}

#breadcrumbs,
#breadcrumbs .btn {
  margin-bottom: 0;
}

#breadcrumbs .btn {
  display: inline-block;
}

#entry-list {
  margin-bottom: 0;
}

#new-journal {
  float: right;
}

// to have input fields as collection itens,
// they need to play the same padding/margin/width/heigth
// as the other items in the collection
input[type=text].collection-item {
  box-sizing: border-box;
}

